* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ebf2ff;
    font-family: 'Merriweather', serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.navbar__brand {
    width: 100px;
}

.navbar__logo {
    width: 100%;
}

.button__primary {
    margin: 10px;
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 100%
    );
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
}
.button__primary:hover {
    border: 2px solid #ff512f;
    background-image: linear-gradient(
        to right,
        #dd2476 0%,
        #ff512f 100%
    );
    cursor: pointer;
}

.hero_img_container {
    position: relative;
    width: 100%;
}
.hero__pattern {
    position: absolute;
    top: 0;
    left: 0;

    z-index: -4;
}
.hero__shape {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
}
.hero__img {
    width: 100%;
    border-radius: 7px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}

.hero__text{
    font-weight: 800;
    font-size: 30px;
    color: #1D2557;
}

.food__card {
    background-color: #F9F9F9;
    border-radius: 7px 7px 7px 7px;
}
.food__card__image__container {
    width: 100%;
    border-style: none;
}
.food__image {
    width: 100%;
    border-radius: 7px 7px 0 0;
}
.food__card__description {
    padding: 15px;
}

.explore__menu__text {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    color: #1D2557;
}
@media (min-width: 768px) {
    .navbar {
        justify-content: space-between;
        padding: 10px 30px;
    }
    .hero__container {
        margin-top: 32px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .explore__menu__lists {
        margin-top: 50px;
        display: flex;
        gap: 15px;
        margin: 0 30px;
    }
    #pizza__card {
        margin-top: -30px;
        margin-bottom: 30px;
    }
    #icecream {
        margin-bottom: 15px;
    }
    #burger {
        margin-bottom: 10px;
    }
    .explore__menu__container {
        position: relative;
    }
    .explore__menu__gradient__bg {
        position: absolute;
        padding-bottom: 50px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
            to right,
            #ff512f 0%,
            #dd2476 51%,
            #ff512f 100% 
        );
        z-index: -3;
        transform: skewY(-5deg);
    }
    .explore__menu__text {
        padding-bottom: 50px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 70%;
    }
    .navbar__brand {
        width: 150px;
    }
    .button__primary {
        padding:20px;
        font-size: 20px;
        font-weight: 700;
    }
    .hero__description {
        width: 100%;
    }
    .hero__text {
        font-size: 48px;
    }
    .explore__menu__lists {
        gap: 25px;
    }

    .explore__menu__text {
        font-size: 48px;
    }
}



