* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ebf2ff;
    font-family: 'Merriweather', serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    box-shadow: 0 0px 50px 0px rgb(0 0 0 / 35%);
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.navbar__brand {
    width: 100px;
}

.navbar__logo {
    width: 100%;
}

.button__primary {
    margin: 10px;
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 100%
    );
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
}
.button__primary:hover {
    border: 2px solid #ff512f;
    background-image: linear-gradient(
        to right,
        #dd2476 0%,
        #ff512f 100%
    );
    cursor: pointer;
}

.hero_img_container {
    position: relative;
    width: 100%;
}
.hero__pattern {
    position: absolute;
    top: 0;
    left: 0;

    z-index: -4;
}
.hero__shape {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
}
.hero__img {
    width: 100%;
    border-radius: 7px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}

.hero__text{
    margin-top: 70px;
    font-weight: 800;
    font-size: 30px;
    color: #1D2557;
}

.food__card {
    background-color: #F9F9F9;
    border-radius: 7px 7px 7px 7px;
}
.food__card__image__container {
    width: 100%;
    border-style: none;
}
.food__image {
    width: 100%;
    border-radius: 7px 7px 0 0;
}
.food__card__description {
    padding: 15px;
}

.explore__menu__text {
    margin-top: -30px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    color: #1D2557;
}
.extra__container {
    margin-top: 40px;
    display: flex;
    gap: 15px;
    align-items: center;
    flex-direction: column;
}
.extra__text__description {
    text-align: left;
    width: 100%;
    font-weight: 800;
    font-size: 24px;
    color: #1D2557;
}
.extra__image__container {
    width: 100%;
    display: flex;
    gap: 5px;
}
.extra__image1 {
    width: 100%;
    border-radius: 7px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}
.extra__image2 {
    width: 100%;
    border-radius: 7px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}
.extra__image3 {
    width: 100%;
    border-radius: 7px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}
.extra__image4 {
    width: 100%;
    border-radius: 7px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}
.stay__updated__text {
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
    font-weight: 800;
    font-size: 26px;
    color: #1D2557;
}
.stay__updated__mail__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.stay__updated__email {
    padding: 10px 15px;
    
    border-radius: 5px;
    border-color: #ff876f;
    background-color: #ffe9e5;
}
.stay__updated__email:focus {
    border: 3px solid #ff2a00;
    background-color: #fff;
}
.get__updates__button {
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 100%
    );
    margin-left: -3px;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 8px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
}
.get__updates__button:hover {
    border: 2px solid #ff512f;
    background-image: linear-gradient(
        to right,
        #dd2476 0%,
        #ff512f 100%
    );
    cursor: pointer;
}
.quote__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top:4rem;
    width: 100%;
    height: 200px;
    border-radius: 13px;
    background: url(assets/quote_bg.jpg) center center / cover no-repeat;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 50%);
}
.quote__image__container {
    position: absolute;
    border-radius: 13px;
    width: 100%;
    height: 200px;
    background-color: #0a4065;
    opacity: 49%;

}

.quote__text {
    color: #fff;
    z-index: 3;
    margin: 0 1rem;
    text-align: center;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100% 
    );
    z-index: -3;
    border-radius: 15px 15px 0 0;
}
.footer__image__container {
    width: 100%;
}
.footer__image {
    width: 100%;
    filter: brightness(0) invert(1);
}
.footer__description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    text-align: center;
    color: white;
}

@media (min-width: 768px) {
    .navbar {
        justify-content: space-between;
        padding: 10px 30px;
    }
    .hero__container {
        margin-top: 32px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .explore__menu__lists {
        margin-top: 50px;
        display: flex;
        gap: 15px;
        margin: 0 30px;
    }
    #pizza__card {
        margin-top: -30px;
        margin-bottom: 30px;
    }
    #icecream {
        margin-bottom: 15px;
    }
    #burger {
        margin-bottom: 10px;
    }
    .explore__menu__container {
        position: relative;
    }
    .explore__menu__gradient__bg {
        position: absolute;
        padding-bottom: 50px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
            to right,
            #ff512f 0%,
            #dd2476 51%,
            #ff512f 100% 
        );
        z-index: -3;
        transform: skewY(-5deg);
    }
    .explore__menu__text {
        margin-top: 30px;
        padding-bottom: 50px;
    }
    
.extra__container {
    margin-top: 100px;
    display: flex;
    gap: 15px;
    align-items: center;
    flex-direction: row;
}
.extra__text__description {
    font-size: 40px;
}
.extra__image__container {
    width: 100%;
    display: flex;
    gap: 5px;
}
.extra__image1 {
    width: 100%;
    border-radius: 7px;
    margin: 50px 0;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}
.extra__image2 {
    width: 100%;
    border-radius: 7px;
    margin-top: -10px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}
.extra__image3 {
    width: 100%;
    border-radius: 7px;
    margin-top: -50px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}
.extra__image4 {
    width: 100%;
    border-radius: 7px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}
    .stay__updated__text {
        text-align: center;
        font-size: 40px;
        margin-top: 45px;
        margin-left: -30px;
    }
    .stay__updated__mail__container {
        justify-content: center;
        gap: 20px;
    }
    .stay__updated__email:focus {
        border: 3px solid ;
        border-color: #ff2a00;
        background-color: #fff;
    }
    .stay__updated__email{
        width: 300px;
        margin-left: 100px;
        padding: 10px 5px;
    }
    .get__updates__button {
        margin-left: -10px;
        padding: 16px 16px;
    }
    .footer__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .footer__description {
        margin: 20px;
        align-items: center;
        justify-content: center;
    }
    .footer__image__container {
        margin-left: 100px;
        width: 100%;
    }
    .footer__image {
        width: 100%;
    }
    .quote__text {
        font-size: 26px;
    }
}


@media (min-width: 1024px) {
    .container {
        max-width: 70%;
    }
    .navbar__brand {
        width: 150px;
    }
    .button__primary {
        padding:20px;
        font-size: 20px;
        font-weight: 700;
    }
    .hero__description {
        width: 100%;
    }
    .hero__text {
        font-size: 48px;
    }
    .explore__menu__lists {
        gap: 25px;
    }    
    .explore__menu__text {
        font-size: 48px;
    }
    .stay__updated__text {
        font-size: 48px;
    }
    .stay__updated__mail__container {
        margin-left: 20px;
    }
    .stay__updated__email {
        margin-left: 50px;
        width: 320px;
    }
    .get__updates__button {
        padding: 16px 16px;
        font-size: 16px;
        margin: 0;
    }
    .get__updates__button:focus {

        border: 3px solid ;
        border-color: #ff2a00;
        background-color: #fff;
    }
    .footer__container {
        margin-top: 70px;
        display: flex;
        justify-content: center;
    }
    .footer__image__container {
        justify-content: center;
        align-items: center;
        width: 50%; 
    }
    .footer__image {
        margin-left: 150PX;
        width: 50%;
    }
    .footer__description {
        margin-left: -200px;
        width: 40%;
    }
}



